.hero {
    background-color: #fff7ee;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.hero-content {
    flex-grow: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-title {
    font-size: 4rem;
}

.hero-title-contrast {
    color: #fb923c;
}

.hero-description {
    font-size: 1.25rem;
    color: #666;
}

.hero-image {
    border-radius: 8px;
    width: 45%;
    aspect-ratio: 1/1;
    object-fit: cover;
}